* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3a373d;
}

.container ul {
  list-style: none;
  display: flex;
}

.container ul li {
  font-size: 12rem;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 10px;
  animation: animate 1.4s linear infinite;
}

@keyframes animate {
  0% {
    color: #484848;
    text-shadow: none;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #ff0099;
    text-shadow: 0 0 7px #d000ff, 0 0 50px #ff0051;
  }
}

.container ul li:nth-child(1) {
  animation-delay: 0.2s;
}

.container ul li:nth-child(2) {
  animation-delay: 0.4s;
}

.container ul li:nth-child(3) {
  animation-delay: 0.6s;
}

.container ul li:nth-child(4) {
  animation-delay: 0.8s;
}

.container ul li:nth-child(5) {
  animation-delay: 1s;
}

.container ul li:nth-child(6) {
  animation-delay: 1.2s;
}

.container ul li:nth-child(7) {
  animation-delay: 1.4s;
}

/* * {
    margin:0;
    padding:0;
    font-family: 'Arvo';
  }
  
  body{
    background-color: #E63946;
  } */

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
h1 {
  text-align: center;
  color: #f1faee;
  font-size: 4rem;
}

.roller {
  height: 4.125rem;
  line-height: 4rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #b73efd;
}

.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -4rem;
  }
  50% {
    top: -8rem;
  }
  72.5% {
    top: -12.25rem;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #f1faee;
    font-size: 2.125rem;
  }

  .roller {
    height: 2.6rem;
    line-height: 2.125rem;
  }

  #spare-time {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }

  .roller #rolltext {
    animation: slide-mob 5s infinite;
  }

  @keyframes slide-mob {
    0% {
      top: 0;
    }
    25% {
      top: -2.125rem;
    }
    50% {
      top: -4.25rem;
    }
    72.5% {
      top: -6.375rem;
    }
  }
}
